.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-label {
  width: 100%;
  display: block;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
}
input[list] {
  display: block;
}
